<header id="introduction">
  <div class="container">
    <h1>Where'd we get this idea?</h1>
    <h4>Wouldn't you like to know...</h4>
  </div>
</header>
<section id="why">
  <div class="container">
    <div class="col col-sm-6 col-sm-offset-3">
      <p>
        My wife and I had our second child in 2012,
        and we had purchased a baby book to document his
        first years of life - kind of like we did with
        our first child.  On his first birthday, we pulled
        out his baby book and found all but the first couple
        pages blank.
      </p>
      <p>
        Great!  How are we going to fill this out now?  We
        can't possibly remember what day each of the items
        in our baby book is asking for.  Poor kid, I hope
        he doesn't feel slighted when he gets old enough to
        read this.
      </p>
      <p>
        So, it's 2013 and our third child is due in September
        (yes, I know what you are thinking; two years, two kids.
        It happens!) My wife and I were sitting around trying to think of
        ideas on how we can keep track of all of our new baby's
        memories, and came up with this. Go, Baby! Go!
      </p>
    </div>
  </div>
</section>
