<header id="introduction">
  <div class="container">
      <h1>Capture baby's first experiences</h1>
      <h4>Your baby only does something for the first time once.  Don't miss it.</h4>
      <%= link_to "SIGN UP NOW!", signup_path, class: "btn btn-warning" %>
  </div>
</header>
</div>
<section id="next">

  <h2>hello</h2>
</section>
