<header id="introduction">
  <div class="container">
    <h1>Capture baby's first experiences</h1>
    <h4>Your baby only does something for the first time once.  Don't miss it.</h4>
    <%= link_to "SIGN UP NOW!", signup_path, class: "btn btn-warning" %>
  </div>
</header>
</div>
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class='feature-heading'>Baby book, shmaby book</h2>
        <p class="lead">
          The days of forgetting to write stuff in your precious
          son's or daughter's baby book are gone!  Capture moments
          as they happen! Soon, you'll have more kids and you
          can now fight the urge to buy them a baby book to only have
          it sit around anyway.  Poor kid - their older sibling has all
          these memories and you've somehow forgotten to add their latest
          coo to the new baby book.
        </p>
        <p class="lead">Go Baby Go! has your back.</p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive" src="#" data-src="holder.js/500x500/auto">
      </div>
    </div>
    <hr class='feature-divider'>
    <div class="row">
      <div class="col-md-5">
        <img class="img-responsive" src="#" data-src="holder.js/500x500/auto">
      </div>
      <div class="col-md-7">
        <h2 class='feature-heading'>Available everywhere</h2>
        <p class="lead">
         Capture your princess rolling over, or junior's first tooth on
         your closest device.  No need to grab that pen (or just forget totally).
        </p>
      </div>
    </div>
    <hr class='feature-divider'>
    <div class="col-md-7">
      <h2 class='feature-heading'>Hey, can your baby book do this?</h2>
      <p class="lead">
       Did I mention you can take photos? Oh yeah - capture your little one
       in action by snapping a quick photo.  It'll be forever documented,
       waiting for you to print it out and put it on a photo board to embarrass
       them at their graduation party.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="#" data-src="holder.js/500x500/auto">
    </div>
  </div>
</div>
</section>
