@import "bootstrap";


/* custom colors */

$grayMediumLight: #eaeaea;
$darkGrayBlue: #A2BDCE;
$babyBlue: #BEDCE7;
$white: #fff;
$gray: #C8C5C0;
$brownBlack: #624F53;

/* mixins, variables, etc. */
div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* navbar customizations */
.navbar {
  margin-top: 10px;
  margin-bottom: 0px;

  .nav {
    .sep{
      border-left: 1px solid #ddd;
      width: 1px;
      margin: 14px 20px;
      height: 16px;
    }

  }

  a { color: $white }
}

.navbar-brand {
  font-size: 30px;
}

.navbar-wrapper, .navbar {
  background: $darkGrayBlue
}

.navbar-toggle {
  border-color: $brownBlack;

  .icon-bar {
    background-color: #fff;
  }
}

/* footer customizations */

footer {
  height: 60px;
  background: $gray;
  padding: 50px 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
